<div class="bg-white container-sm">

  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.file_field :image, autofocus: true, autocomplete: "image" %>
    <hr>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>

    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>

    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

    <%= f.submit "Sign up", class: "btn btn-success w-100" %>  
  <% end %>

  <%= render "devise/shared/links" %>

</div>