<%= link_to category_url(category) do %>
  <li >
    <div class='card d-flex justify-content-between'>
      <div class='image rounded border border-1 border-light mw-100'>
        <% if category.icon.attached? %>
        <%= image_tag(category.icon)%>
        <% end%>
      </div>
      <div>
        <h5><%= category.name.capitalize %>
        <br>
        <small><%= category.created_at.strftime('%-d %h %Y')%></small>
      </div>

      <span class="total">$<%= category.total_amount %></span>
    </div>
  </li>
<%  end %>